body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #E5E4E2; /* Light pastel background */
    color: #333;
}

nav {
    background-color: #355C7D; /* Pastel dark blue */
    padding: 1rem;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: #FFF; /* White */
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #6C5B7B; /* Pastel purple */
}

header {
    text-align: center;
    padding: 4rem 0;
    background-color: #6C5B7B; /* Pastel purple */
    color: #FFF; /* White */
    margin-top: 4rem; /* To offset the fixed navbar */
}

header h1 {
    color: #000; /* Black */
    font-size: 3em;
    text-align: center;
    margin-top: 20px;
}

header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-top: 1rem;
}

.container {
    padding: 2rem;
    max-width: 1000px;
    margin: 0 auto;
    background-color: #FFF; /* White */
    margin-bottom: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #333; /* Ensure text color is dark */
}

section h2 {
    color: #355C7D; /* Pastel dark blue */
    border-bottom: 2px solid #6C5B7B; /* Pastel purple */
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background: #FFF; /* White */
    margin: 0.5rem 0;
    padding: 0.5rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

ul li a {
    text-decoration: none;
    color: #355C7D; /* Pastel dark blue */
}

ul li a:hover {
    color: #6C5B7B; /* Pastel purple */
}

footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #355C7D; /* Pastel dark blue */
    color: #FFF; /* White */
    position: relative;
    bottom: 0;
    width: 100%;
}

#contact p a {
    color: #355C7D; /* Pastel dark blue */
    text-decoration: none;
    transition: color 0.3s;
}

#contact p a:hover {
    color: #6C5B7B; /* Pastel purple */
}
