/* Header styles */
header h1 {
    color: #6C5B7B; /* Pastel purple */
    font-size: 3em;
    text-align: center;
    margin-top: 20px;
}

header img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    display: block;
    margin: 20px auto;
}

/* Navigation styles */
nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    background-color: #F8B195; /* Pastel pink */
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #355C7D; /* Pastel blue */
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #F67280; /* Pastel red */
}

/* Section headers */
section h2 {
    color: #F67280; /* Pastel red */
    text-align: center;
    margin-top: 20px;
}

/* Container styles */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #FFF0F5; /* Pastel lavender */
    border-radius: 8px;
    margin-bottom: 20px;
}

/* General styles */
body {
    font-family: Arial, sans-serif;
    background-color: #C06C84; /* Pastel mauve */
    color: #355C7D; /* Pastel blue */
    margin: 0;
    padding: 0;
    margin-top: 4rem; /* To offset the fixed navbar */
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #F8B195; /* Pastel pink */
    color: #355C7D; /* Pastel blue */
}

a {
    color: #6C5B7B; /* Pastel purple */
}

/* Smooth scrolling */
html {
    scroll-behavior: smooth;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background: #FFF0F5; /* Pastel lavender */
    margin: 0.5rem 0;
    padding: 0.5rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

ul li a {
    text-decoration: none;
    color: #355C7D; /* Pastel blue */
}

ul li a:hover {
    color: #F67280; /* Pastel red */
}

#contact p a {
    color: #355C7D; /* Pastel blue */
    text-decoration: none;
    transition: color 0.3s;
}

#contact p a:hover {
    color: #F67280; /* Pastel red */
}
